<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Привет, я Андрей Соломин (SolanD)</h1>
    <p>Добро пожаловать на мой блог-портфолио</p>
    <p>Если вы захотите написать мне пару ласковых слов, воспользуйтесь кнопочками социальных сетей слева.</p>
    <p>А если вы привыкли писать письма, то слева есть кнопка с конвертиком!</p>
  </div>
</div>