<% @posts.each do |post| %>
    <h1><%= post.title %></h1>
    <p class="date">
      Создан <%= time_ago_in_words(post.created_at) %> назад
    </p>
    <div><%= truncate(post.body, :length => 250) %></div>
    <br>
    <%= link_to 'Читать далее...', post %>

<% end %>
